    <div class="p15">

For help and support, please contact your account manager, email us at hello@getbuzzer.com, or call +44 7985 703 589.

<!--      <section id="colors" class="mt30 mb30 clearfix">
          <h5 class="pb5 bb">Colours</h5>

          <div class="row mb30">
              <div class="col-xs-3">
                  <div class="swatches">
                      <div class="bg-default-dark">
                          <span>.bg-default-dark</span>
                      </div>
                      <div class="bg-default">
                          <span>.bg-default</span>
                      </div>
                      <div class="bg-default-light">
                          <span>.bg-default-light</span>
                      </div>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class="swatches">
                      <div class="bg-primary-dark">
                          <span>.bg-primary-dark</span>
                      </div>
                      <div class="bg-primary">
                          <span>.bg-primary</span>
                      </div>
                      <div class="bg-primary-light">
                          <span>.bg-primary-light</span>
                      </div>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class="swatches">
                      <div class="bg-warning-dark">
                          <span>.bg-warning-dark</span>
                      </div>
                      <div class="bg-warning">
                          <span>.bg-warning</span>
                      </div>
                      <div class="bg-warning-light">
                          <span>.bg-warning-light</span>
                      </div>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class="swatches">
                      <div class="bg-success-dark">
                          <span>.bg-success-dark</span>
                      </div>
                      <div class="bg-success">
                          <span>.bg-success</span>
                      </div>
                      <div class="bg-success-light">
                          <span>.bg-success-light</span>
                      </div>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class="swatches">
                      <div class="bg-info-dark">
                          <span>.bg-info-dark</span>
                      </div>
                      <div class="bg-info">
                          <span>.bg-info</span>
                      </div>
                      <div class="bg-info-light">
                          <span>.bg-info-light</span>
                      </div>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class="swatches">
                      <div class="bg-danger-dark">
                          <span>.bg-danger-dark</span>
                      </div>
                      <div class="bg-danger">
                          <span>.bg-danger</span>
                      </div>
                      <div class="bg-danger-light">
                          <span>.bg-danger-light</span>
                      </div>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class="swatches">
                      <div class="bg-dark-dark">
                          <span>.bg-dark-dark</span>
                      </div>
                      <div class="bg-dark">
                          <span>.bg-dark</span>
                      </div>
                      <div class="bg-dark-light">
                          <span>.bg-dark-light</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mb30">
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-red">
                          <span>.bg-red</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-pink">
                          <span>.bg-pink</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-purple">
                          <span>.bg-purple</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-deeppurple">
                          <span>.bg-deeppurple</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-indigo">
                          <span>.bg-indigo</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-blue">
                          <span>.bg-blue</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-lightblue">
                          <span>.bg-lightblue</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-cyan">
                          <span>.bg-cyan</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-teal">
                          <span>.bg-teal</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-green">
                          <span>.bg-green</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-lightgreen">
                          <span>.bg-lightgreen</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-lime">
                          <span>.bg-lime</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-yellow">
                          <span>.bg-yellow</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-amber">
                          <span>.bg-amber</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-orange">
                          <span>.bg-orange</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-deeporange">
                          <span>.bg-deeporange</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-brown">
                          <span>.bg-brown</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-grey">
                          <span>.bg-grey</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-xs-3">
                  <div class="swatches">
                      <div class="bg-bluegrey">
                          <span>.bg-bluegrey</span>
                      </div>
                  </div>
              </div>
          </div>
      </section> -->

    </div>
</div>
