<form class="form-horizontal" data-ng-controller="usersController as ctr">
    <div class="form-group" data-ng-if="ctr.users">
        <label class="col-sm-2 control-label">User</label>
        <div class="col-sm-4">
            <select ng-options='t.username for t in ctr.users' data-ng-model="ctr.selectedUser" class="form-control" data-ng-change="ctr.userChanged()"></select>
        </div>
    </div>
    <div class="form-group" data-ng-if="ctr.selectedRole">
        <label class="col-sm-2 control-label">Role</label>
        <div class="col-sm-4">
            <select ng-model="ctr.selectedRole" class="form-control" ng-options='t.name for t in ctr.roles track by t.name'>
            </select>
        </div>
    </div>
    <div class="wizard-pager">
        <div class="pull-left">
            <div data-spinner-button="" data-on-saving="ctr.save()" data-processed="ctr.processed" data-text="User Information Updated!"></div>
        </div>
    </div>
</form>